@import '/src/sass/base/variables';

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 1.5rem;
}
.form__input {
  border: 1px solid $PaleBlue;
  display: block;
  width: 100%;
  padding: 0.7em 1.5em;
  border-radius: 2.5rem;
  font-size: 1.8rem;
  background-color: transparent;
  color: $VeryDarkBlue;
}
.wrongEmail {
  border: 1px solid $LightRed;
}
.error-text {
  text-align: center;
  color: $LightRed;
  margin-bottom: 2rem;
  font-size: 1.7rem;
}
.form__button {
  margin: 0 auto;
  display: block;
  width: 100%;
  padding: 0.7em 1.5em;
  border: none;
  border-radius: 2.5rem;
  background-color: $Blue;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: $semiBold;
  cursor: pointer;
}
